---
const links: Array<{ text: string; href: string }> = [
    {
        text: "Projects",
        href: "/projects",
    },
    {
        text: "Experiments",
        href: "/experiments",
    },
    {
        text: "Journal",
        href: "/journal",
    },
    {
        text: "Skills",
        href: "/#skills",
    },
    {
        text: "History",
        href: "/#history",
    },
    {
        text: "Contact",
        href: "/#contact",
    },
];

const linkTextClass = "font-heading text-secondary font-medium";
---

<header class="p-6 md:p-8 bg-highlight">
    <div class="flex justify-between items-center max-w-360 mx-auto">
        <a
            href="/"
            class={`font-handwriting text-secondary text-2xl lg:text-[1.75rem]`}
            >Dean Baylem</a
        >
        <nav class="hidden md:block">
            <ul class="flex gap-4 md:gap-6 lg:gap-10">
                {
                    links.map((link) => (
                        <li>
                            <a
                                href={link.href}
                                class={`${linkTextClass} text-lg md:text-xl transition-opacity hover:opacity-60`}
                            >
                                {link.text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <button
            id="hamburger"
            class="relative block w-6 h-2.5 md:hidden js-navToggle"
        >
            <span></span>
            <span></span>
        </button>
    </div>
</header>
<div id="sidedrawer" class="md:hidden fixed top-20 right-0 bg-highlight px-6 pb-6 z-10 js-navToggle">
    <nav>
        <ul class="flex flex-col">
            {
                links.map((link) => (
                    <li class="py-4 border-b border-b-secondary">
                        <a
                            href={link.href}
                            class={`${linkTextClass} text-xl transition-opacity hover:opacity-60`}
                        >
                            {link.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>

<script>
    const handleNavdrawerToggle = () => {
        const allNavToggle = document.querySelectorAll(".js-navToggle");

        allNavToggle.forEach((toggle) => {
            toggle.classList.toggle("active");
        });
    };

    document.getElementById("hamburger")?.addEventListener("click", handleNavdrawerToggle);
</script>

<style>
    #hamburger span {
        position: absolute;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--color-secondary);
        transition: all 0.2s ease-in-out;
    }

    #hamburger span:nth-child(1) {
        top: 0;
    }

    #hamburger span:nth-child(2) {
        bottom: 0;
    }

    #hamburger.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(30deg);
    }

    #hamburger.active span:nth-child(2) {
        bottom: 50%;
        transform: translateY(50%) rotate(-30deg);
    }

    #sidedrawer {
        transform: translateX(100%);
        transition: all 0.2s ease-in-out;
    }

    #sidedrawer.active {
        transform: translateX(0);
    }
</style>
