---
import Section from "../UI/Section.astro";
import WorkDisplay from "./WorkDisplay.astro";
import LinkButton from "../UI/LinkButton.astro";

const workDisplays = [
    {
        heading: "Recent Project",
        title: "Dungeon Delvers Inc.",
        description: "A worldbuilding and campaign management tool for TTRPG’s.\n\nCreated with Next.js, using Payload CMS for content management.",
        image: {
            src: "./castle.webp",
            alt: "Castle Icon",
            height: "159",
            width: "159",
        },
        skills: ["Next.js", "Payload", "TypeScript", "Leaflet.js", "Tailwind"],
        links: [
            {
                text: "View Project",
                href: "https://dungeon-delvers-inc-payload.vercel.app/",
                target: "_blank",
                type: "primary",
            },
            {
                text: "Project Summary",
                href: "/projects/dungeon-delvers-inc",
                target: "_self",
                type: "secondary",
            },
            {
                text: "Project Repo",
                href: "https://github.com/Dean-Baylem/dungeon-delvers-inc-payload",
                target: "_blank",
                type: "secondary",
            },
        ],
    },
    {
        heading: "Current Experiment",
        title: "Campfire Scene",
        description:
            "Stylized 3D environment inspired by early web games.\n\nBuilt using a combination of Blender, React Three Fiber, and custom GLSL shaders.",
        image: {
            src: "./campfire.webp",
            alt: "Campfire Icon",
            height: "140",
            width: "159",
        },
        skills: ["React", "Three.js", "React Three Fiber", "GLSL", "Blender"],
        links: [
            {
                text: "View Experiment",
                href: "https://campfire-scene.vercel.app/",
                target: "_blank",
                type: "primary",
            },
            {
                text: "Experiment Summary",
                href: "/experiments/campfire-scene",
                target: "_self",
                type: "secondary",
            },
            {
                text: "Experiment Repo",
                href: "https://github.com/Dean-Baylem/campfire-scene",
                target: "_blank",
                type: "secondary",
            },
        ],
    },
];

const journalEntries = [
    {
        title: "Implementing helper functions for the WordPress Block Editor",
        date: "June 17, 2026",
        link: "/journal/implementing-helper-functions-for-the-wordpress-block-editor",
    },
    {
        title: "Implementing helper functions for the WordPress Block Editor",
        date: "June 17, 2026",
        link: "/journal/implementing-helper-functions-for-the-wordpress-block-editor",
    },
    {
        title: "Implementing helper functions for the WordPress Block Editor",
        date: "June 17, 2026",
        link: "/journal/implementing-helper-functions-for-the-wordpress-block-editor",
    },
];
---

<Section title="Work, Experiments, and Log Entries">
    <div class="grid lg:grid-cols-12">
        {
            workDisplays.map((display) => (
                <WorkDisplay
                    heading={display.heading}
                    title={display.title}
                    description={display.description}
                    image={display.image}
                    skills={display.skills}
                    links={display.links}
                />
            ))
        }
    </div>
    <div>
        <h3 class="font-handwriting text-ink text-lg md:text-2xl">Journal Entries</h3>
        <nav>
            <ul>
                {
                    journalEntries.map((entry) => (
                        <li class="py-4 flex flex-col gap-1 border-b border-accent">
                            <h4>
                                <a
                                    href={entry.link}
                                    class="font-semibold font-heading text-ink text-lg md:text-xl hover:opacity-80 transition-opacity"
                                >
                                    {entry.title}
                                </a>
                            </h4>
                            <p class="font-body font-light text-ink text-sm md:text-base">{entry.date}</p>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <div class="flex mt-6">
            <LinkButton
                text="All Journal Entries"
                href="/journal"
                target="_self"
                type="primary"
            />
        </div>
    </div>
</Section>
