---
import LinkButton from "../UI/LinkButton.astro";
import SkillItem from "../UI/SkillItem.astro";

interface Props {
    heading: string;
    title: string;
    description: string;
    image: {
        src: string;
        alt: string;
        height: string;
        width: string;
    };
    skills: string[];
    links: Array<{
        text: string;
        href: string;
        target: string;
        type: string;
    }>;
}

const { heading, title, description, image, skills, links }: Props = Astro.props;
---

<article
    class="sm:px-4 col-span-6 relative not-last:after:content-[''] not-last:after:absolute not-last:after:w-px not-last:after:h-1/2 not-last:after:bg-accent not-last:after:top-1/2 not-last:after:right-0 not-last:after:-translate-y-1/2 not-last:after:hidden lg:not-last:after:block"
>
    <h3 class="font-handwriting text-ink text-lg md:text-2xl">{heading}</h3>
    <div class="grid grid-cols-[5rem_1fr] md:grid-cols-[7.5rem_1fr] lg:grid-cols-[10rem_1fr] gap-4 py-6 items-center">
        <div class="mix-blend-multiply col-start-1 row-span-2 row-start-1 lg:row-span-3">
            <img
                src={image.src}
                alt={image.alt}
                width={image.width}
                height={image.height}
                loading="lazy"
            />
        </div>

        <h4 class="font-heading font-bold text-2xl md:text-3xl text-ink col-start-2 row-start-1">{title}</h4>
        <p class="font-body text-ink leading-normal md:text-lg col-start-2 row-start-2">{description}</p>
        <ul class="flex flex-wrap gap-x-1 gap-y-2 mt-auto col-start-1 col-span-2 lg:col-span-1 lg:col-start-2 row-start-3">
            {skills.map((skill) => <SkillItem skill={skill} />)}
        </ul>
    </div>
    <nav class="py-2">
        <ul class="flex flex-wrap gap-2 items-center justify-center">
            {
                links.map((link) => (
                    <li>
                        <LinkButton
                            text={link.text}
                            href={link.href}
                            target={link.target}
                            type={link.type}
                        />
                    </li>
                ))
            }
        </ul>
    </nav>
</article>
