---
import Section from "../UI/Section.astro";
import WorkDisplay from "./WorkDisplay.astro";
import JournalItem from "./JournalItem.astro";
import LinkButton from "../UI/LinkButton.astro";
import { workDisplays } from "../../utils/projectContent";
import { journalEntries } from "../../utils/journalContent";
---

<Section title="Work, Experiments, and Log Entries">
    <div slot="lead">
        <p class="font-handwriting text-ink sm:text-lg">Below you'll find my most recent main project and latest experimental work.</p>
        <span class="block w-fit mt-4"
            ><LinkButton
                text="All Projects"
                href="/projects"
                type="primary"
                target="_self"
            /></span
        >
    </div>
    <div class="grid lg:grid-cols-12 gap-10 lg:gap-0">
        {
            workDisplays.map((display) => (
                <WorkDisplay
                    heading={display.heading}
                    title={display.title}
                    description={display.description}
                    image={display.image}
                    skills={display.skills}
                    links={display.links}
                    customClass={`not-last:after:content-[''] not-last:after:absolute not-last:after:w-px not-last:after:h-1/2 not-last:after:bg-accent not-last:after:top-1/2 not-last:after:right-0 not-last:after:-translate-y-1/2 not-last:after:hidden lg:not-last:after:block`}
                />
            ))
        }
    </div>
    <div>
        <h3 class="font-handwriting text-ink text-lg md:text-2xl">Journal Entries</h3>
        {
            journalEntries.length > 0 ? (
                <>
                    <nav>
                        <ul>
                            {journalEntries.map((entry) => (
                                <JournalItem
                                    link={entry.link}
                                    title={entry.title}
                                    date={entry.date}
                                    datetime={entry.datetime}
                                />
                            ))}
                        </ul>
                    </nav>
                    <div class="flex mt-6">
                        <LinkButton
                            text="All Journal Entries"
                            href="/journal"
                            target="_self"
                            type="primary"
                        />
                    </div>
                </>
            ) : (
                <div class="mt-6">
                    <p class="font-body font-bold text-ink md:text-lg">
                        No journal entries found.
                        <br />
                        Please check back later.
                    </p>
                </div>
            )
        }
    </div>
</Section>
